/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.has-bg-img { 
    background: asset_url('logo-data.png') center center; 
    background-size: cover; 
}

.has-bg-img2 {
    background: asset_url('apresentacao-no-name.png') center center; 
    background-size: cover;
    vertical-align: bottom;
    padding-top: 120px;
    padding-right: 50px;
    text-align: right;
    min-height: 220px;
    color: #fff;
    background-color: #e15554;
}

.has-bg-img3 {
    background: asset_url('programacao.png') center center; 
    background-size: cover;
    vertical-align: bottom;
    padding-top: 120px;
    padding-right: 50px;
    text-align: right;
    min-height: 220px;
    color: #fff;
    background-color: #e15554;
}


@media (max-width: 600px) {
    .has-bg-img2 {
        background: asset_url('apresentacao-no-name.png') center center; 
        background-size: cover;
        vertical-align: bottom;
        padding-top: 120px;
        padding-right: 50px;
        text-align: right;
        color: #fff;
        background-color: #e15554;

        h1 {
            font-size: 42px;
        }
    }
}
